hydra-core
omegaconf
h5py
numcodecs
opencv-python
pandas
scipy
zarr
tqdm
einops
wandb
threadpoolctl
matplotlib
dill
pydantic
rtree
diffusers
pytorch-lightning
lightning-bolts
tyro
typing_extensions==4.12.2
numpy==1.26.0
sentry-sdk==2.29.1